.admin-link {
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.adminPage{
    padding-bottom: 1em;
}

.book-table {
    background-color: white;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.book-table th, .book-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

#available {
    display: flex;
    justify-content: stretch;
    width: 100%;
}

.availability-button {
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    text-align: center;
}

.sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-page-button {
    border-radius: 20px;
    padding: 10px 20px; 
    background-color: #99604f;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: 2em;
    margin-top:1em;
}

.editButton:hover{
    background-color: grey;
}

.createGenre {
    margin-top: 1em;
}

.createGenre input {
    width: 70%;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}