.payContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
    background: #d7a56c;
}

.payContainer form{
    width: 700px;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
}

form .row{
    display: flex;
    gap: 15px;
}

.row .column{
    flex: 1 1 250px;
}

.column .payTitle{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.column .input-box{
    margin: 15px 0;
}

.column .input-box span{
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;

}

.column .input-box input{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
}

.column .input-box img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.column .flex{
    display: flex;
    gap: 15px;
}

.flex .input-box{
    margin-top: 5px;
}

.total{
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}

form .btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #4caf50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: .5s;
}

form .btn:hover{
    background: #444444;
}
